body {
    font-family: Arial;
    margin: 30px;
    background-color: #0768b8;
}

h1 {
    color: #222;
}

div {
    background-color: rgb(255, 134, 20);
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #000000;
}

select,
input,
button {
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #2f6fed;
    color: white;
    border: none;
}